body { 
    background-color: #f3f5df;    
}

.outer-container {
    padding: 20px;
    height: 92vh;
}

.visual-tabs-container {
    width: 100%;
}

.link {
    font-size: 16px;
    margin: 26px;
    width: 100px;
    height: 50px;
    color: #ffffff;
    cursor: pointer;
    border: none;
}

.add-new-link-btn {
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 20px;
}

.header {
    background-color: #cfdfce;
    height: 7%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    padding-right: 1%;
}
