.add-new-tab-form {
  background-color: #fefefe;
  padding: 20px;
  width: 22%;
  display: flex;
  flex-direction: column;
  height: 30%;
  justify-content: space-around;
  align-items: center;
  margin: 15% auto;
}
